body{
    background-color: $purple-10;
    font-family: $font-open;
}

main{
    padding-top: 80px;
}

a{
    color: #fff;
}

*{
    margin: 0;
}

ul{
    padding: 0;
    li{
        list-style: none;
    }
}

a{
    &.btn{
        border-radius: 3px;
        background: $purple-5;
        padding: 15px 20px;
        font-family: $font-open;
        transition: $transition;
        &:hover{
            opacity: .7;
        }
    }
}

section{
    padding: 80px 0 50px;
    display: inline-block;
    width: 100%;

    h2{
        font-family: $font-fjalla;
        font-size: 55px;
        font-weight: 400;
        line-height: 64px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
        color: #fff;
    }

    .subhead{
        font-family: $font-open;
        font-size: 25px;
        font-weight: 300;
        text-align: center;
        color: #fff;
    }
}
.snippets-box{
    border-radius: 3px;
    border: 1px solid $purple-5;
    background-color: #2d2a48;
    padding: 35px 20px 35px 35px;
    display: flex;
    margin-bottom: 30px;
    transition: $transition;

    @media(max-width: 979px){
        justify-content: space-between;
    }

    &:hover{
        transform: scale(1.05);
        cursor: default;
    }

    p{
        color: $purple-4;
        font-family: $font-open;
        font-size: 24px;
    }

    span{
        color: #fbfbfb;
        font-family: $font-fjalla;
        font-size: 50px;
        font-weight: 400;
        padding-left: 10px;
    }
}

.info-cards {
    background-color: $purple-2;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    flex: 4;

    .label {
        display: block;
        font-size: 12px;
        margin-top: 10px;
        text-transform: uppercase;
    }

    .number {
        font-family: $font-fjalla;
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
    }

    .text-card {
        padding: 0 35px 20px;

        .header {
            display: flex;
            justify-content: space-between;
            padding: 40px 0;

            .arrow {
                &:before {
                    content: '';
                    background-image: url('img/arrow.png');
                    width: 23px;
                    height: 19px;
                    display: block;
                    background-size: cover;
                }

            }

            span {
                color: $purple-10;
                font-family: $font-fjalla;
                font-size: 30px;
                font-weight: 400;
                line-height: 28px;
            }

        }

        .content {
            p {
                color: #212b36;
                font-family: $font-open;
                font-size: 14px;
            }
        }
    }

    .performance-card {
        background-color: #fff;
        display: flex;
        padding: 20px 15px;
        align-items: center;
        justify-content: space-between;
        border-top: 1px solid #ddd;
        
        .graph {
            margin-left: 50px;
        }
    }
}