header{
    color: #fff;
    padding: 53px 0;
    transition: $transition;
    position: fixed;
    width: 100%;
    &.fixed{
        background: $purple-7;
        padding: 20px 0;
        z-index: 2;
        box-shadow: 0 4px 2px -2px $purple-12;
        li{
            a{
                font-size: 14px;
            }
        }
    }
    nav{
        max-width: 1050px;
        margin: 0 auto;
        ul{
            display: flex;
            justify-content: space-between;
            li{
                a{
                    font-family: $font-open;
                    font-weight: 700;
                    text-transform: uppercase;
                    letter-spacing: 4.4px;
                    font-size: 18px;
                    transition: $transition;
                    &:hover{
                        opacity: .5;
                    }
                }
            }
        }
    }
}